config:
  watcher_url: "ws://test-registrar-watcher:3001"
  matrix_homeserver: {{ env "TEST_MATRIX_HOMESERVER" }}
  matrix_username: {{ env "TEST_MATRIX_USER" }}
  matrix_password: {{ env "TEST_MATRIX_PASSWORD" }}
  twitter_screen_name: "web3registrar"
  twitter_api_key: {{ env "TWITTER_API_KEY" }}
  twitter_api_secret: {{ env "TWITTER_API_SECRET" }}
  twitter_token: {{ env "TWITTER_TOKEN" }}
  twitter_token_secret: {{ env "TWITTER_TOKEN_SECRET" }}
  google_private_key: {{ env "GOOGLE_PRIVATE_KEY" }}
  google_issuer: {{ env "GOOGLE_ISSUER" }}
  google_scope: "https://mail.google.com https://www.googleapis.com/auth/gmail.compose https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/gmail.readonly https://www.googleapis.com/auth/gmail.send"
  google_email: {{ env "GOOGLE_EMAIL" }}
  email_server: "smtp-relay.gmail.com"
  email_user: {{ env "EMAIL_USER" }}
  email_password: {{ env "EMAIL_PASSWORD" }}