config:
  watcher_url: "ws://test-registrar-watcher:3001"
  matrix_homeserver: {{ env "TEST_MATRIX_HOMESERVER" }}
  matrix_username: {{ env "TEST_MATRIX_USER" }}
  matrix_password: {{ env "TEST_MATRIX_PASSWORD" }} 