config:
  node:
    endpoint: "ws://rpc-node-base-services-external-websockets.kusama:9944"
  logLevel: info  
  registrar:
    index: 0
    proxy:
      enabled: true
      primaryAccount: {{ env "REGISTRAR_KUSAMA_PRIMARY_ADDR" }}

secret:
  registrarPasswordValue: {{ env "REGISTRAR_KUSAMA_PASS" }}
  registrarWalletValue: |
    {{ env "REGISTRAR_KUSAMA_WALLET" }}    
