environment: production

image:
  repository: lamafab/polkadot-registrar-challenger
  tag: v0.2.11
  pullPolicy: Always

config:
  log_level: debug
  db:
    uri: mongodb://localhost:27017/
    db_name: registrar
  instance:
    type: single_instance
    config:
      adapter:
        watcher:
          - network: kusama
            endpoint: ws://localhost:8000
          - network: polkadot
            endpoint: ws://localhost:8001
        matrix:
          enabled: true
          homeserver: https://matrix.org
          username: matrix_username
          password: matrix_password
          db_path: /tmp/matrix.db
        twitter:
          enabled: false
          api_key: twitter_api_key
          api_secret: twitter_api_secret
          token: twitter_token
          token_secret: twitter_token_secret
          request_interval: 300
        email:
          enabled: true
          smtp_server: smtp_server
          imap_server: imap_server
          inbox: INBOX
          user: email_user
          password: email_password
          request_interval: 5
        display_name:
          enabled: true
          limit: 0.85
      notifier:
        api_address: 127.0.0.1:80
        display_name:
          enabled: true
          limit: 0.85

resources: 
  requests:
    cpu: "300m"
    memory: "500Mi"
  limits:
    cpu: "500m"
    memory: "700Mi" 
